<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./sass/index.css">
</head>
<body>
    <div id="app">
        <div class="todo_title">
            <input type="text" placeholder="添加待辦事項，可按enter儲存" v-model="newToDo_title" @keyup.enter="addToDo" :style="input_style">
            <button @click="addToDo">新增</button>
        </div>
        <div class="todo_status">
            <button :class="{select_button: item_status =='all'}" @click="item_status='all'">全部</button>
            <button :class="{select_button: item_status =='ing'}" @click="item_status='ing'">進行中({{todo_remain_count}})</button>
            <button :class="{select_button: item_status =='finish'}" @click="item_status='finish'">完成({{todo_finish_count}})</button>
        </div>
        <ul class="todo_list">
            <li v-for="item in todo_select" :key="item.id">
                <p :class="{completed: item.completed, on: item.revise}">{{item.title}}</p>
                <input type="text" value="" v-if="revise_value != null && revise_value.id == item.id" v-model="item.title" @keyup.enter="done_revise(item)" v-focus="true">
                <button @click="todo_revise(item)" :disabled="isdisabled">{{revise_txt}}</button>
                <button @click="todo_completed(item)">{{item.status}}</button>
                <button @click="todo_delete(item)">刪除</button>
            </li>
        </ul>
        <div class="all_control">
            <button @click="all_completed">全部皆已完成</button>
            <button @click="all_todo_clear">清除全部</button>
            <button @click="completed_clear">清除已完成</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        Vue.config.devtools = true;
        let storage_key = 'todo_archive';
        let todo_storage = {
            // 獲取localstorage的內容
            get(){
                let todos = JSON.parse(localStorage.getItem(storage_key) || '[]');
                // console.log(todos)
                todos.forEach((item, index) => {
                    item.id = index;
                });
                todo_storage.uid = todos.length;
                // console.log(todo_storage.uid)
                return todos;
            },
            // 將資料存入localstorage內
            save(todos){
                localStorage.setItem(storage_key, JSON.stringify(todos));
                // console.log(JSON.stringify(todos))
            }
        };
        let vm = new Vue({
            el: '#app',
            data: {
                // 將localstorage內的資料秀到畫面上
                todos: todo_storage.get(),
                newToDo_title: '',
                input_value: false,
                input_style: {
                    outline: 'none',
                    border: 'none'
                },
                revise_txt: '編輯',
                revise_value: null,
                isdisabled: false,
                item_status: 'all',
            },
            methods: {
                // 新增待辦事項
                addToDo(){
                    if(!this.newToDo_title){
                        this.input_value = true;
                        this.input_style.outline = '1px solid red';
                        this.input_style.border = 'none';
                        alert('不可為空白');
                    }else{
                        this.todos.push({
                            id: todo_storage.uid++,
                            title: this.newToDo_title,
                            completed: false,
                            revise: false,
                            status: '完成',
                        });
                        this.newToDo_title = '';
                        this.input_style.outline = 'none';
                        this.input_style.border = 'none';
                    }
                },
                // 待辦事項完成&未完成
                todo_completed(item){
                    if(item.completed == false){
                        item.completed = true;
                        item.status = '未完成';
                        // console.log(item.completed)
                    }else{
                        item.completed = false;
                        item.status = '完成';
                    }
                },
                // 刪除待辦事項
                todo_delete(item){
                    // console.log(this.todos.indexOf(item))
                    if(confirm('確認要刪除嗎？')){
                        this.todos.splice(this.todos.indexOf(item),1);
                    }
                },
                // 點選編輯
                todo_revise(item){
                    this.revise_value = {id: item.id, title: item.title, completed: item.completed, revise: item.revise};
                    item.revise = true;
                    this.isdisabled = true;
                },
                // 輸入待辦事項
                done_revise(item){
                    if(item.title.length === 0){
                        if(confirm("確定要刪除嗎？")){
                            this.todos.splice(this.todos.indexOf(item),1);
                            this.isdisabled = false;
                        }
                    }else{
                        this.revise_value = null;
                        item.revise = false;
                        this.isdisabled = false;
                    }
                },
                // 待辦事項全部完成
                all_completed(){
                    if(confirm("確定全部都完成了嗎？")){
                        this.todos.map(item => {
                            if(!item.completed){
                                item.completed = true;
                                item.status = '未完成';
                            }
                        })
                    }
                },
                // 刪除全部待辦事項
                all_todo_clear(){
                    this.todos = [];
                },
                // 所有待辦事項完成
                completed_clear(){
                    this.todos = this.todos.filter(item => !item.completed)
                }
            },
            computed: {
                // 待辦事項進行中
                todo_remain(){
                    return this.todos.filter(item => !item.completed)
                },
                // 待辦事項數量
                todo_remain_count(){
                    return this.todo_remain.length
                },
                // 完成待辦事項
                todo_finish(){
                    return this.todos.filter(item => item.completed)
                },
                // 完成數量
                todo_finish_count(){
                    return this.todo_finish.length
                },
                // 篩選按鈕
                todo_select(){
                    if(this.item_status == 'ing'){
                        return this.todo_remain
                    }else if(this.item_status == 'finish'){
                        return this.todo_finish
                    }else{
                        return this.todos
                    }
                }
            },
            watch: {
                // 監聽todos的變化
                todos: {
                    handler(todos){
                        todo_storage.save(todos);
                    },
                    deep: true
                }
            },
            // 自定義屬性，點選編輯後自動focus
            directives: {
                focus: {
                    inserted: el => {
                        el.focus()
                    }
                }
            },
        })
    </script>
</body>
</html>